.p-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    padding: 24px 16px 48px;
}

.p-card {
    position: relative;
    background: #fff;
    border: 1px solid #eef2f6;
    border-radius: 12px;
    padding: 14px 14px 16px;
    box-shadow: 0 4px 16px rgba(29, 41, 57, 0.06);
}

.p-card__badge {
    position: absolute;
    left: 12px;
    top: 56px;
    background: #ff6a33;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 8px;
}

.p-card__fav {
    position: absolute;
    right: 12px;
    width: 32px;
    height: 32px;
    border: 2px solid #e2e8f0;
    border-radius: 10px;
    background: #fff;
    color: #ff6a33;
    box-shadow: 0 2px 4px rgba(16, 24, 40, .06);
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-card__fav:hover {
    border-color: #ff6a33;
}


.p-card__fav--on {
    border-color: #ff6a33;
    background: #fff5f0;
}

.p-card__image {
    height: 140px;
    display: grid;
    place-items: center;
    margin-top: 8px;
}

.p-card__image img {
    max-height: 130px;
    object-fit: contain;
}

.p-card__prices {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 8px;
}

.p-card__price {
    font-size: 16px;
    font-weight: 800;
    color: #2a3441;
}

.p-card__old {
    font-size: 12px;
    color: #94a3b8;
    text-decoration: line-through;
}

.p-card__subtitle {
    margin-top: 2px;
    color: #94a3b8;
    font-size: 12px;
}

.p-card__title {
    margin-top: 8px;
    font-size: 12px;
    color: #2a3441;
    line-height: 1.35;
    min-height: 36px;
}

.p-card__rating {
    display: flex;
    gap: 2px;
    margin: 8px 0 12px;
}

.star {
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23e2e8f0"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>') center/14px 14px no-repeat;
}

.star--on {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ff6a33"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>');
}

.p-card__btn {
    display: flex;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    background: #ecfff6;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.p-card__btn--in {
    background: #ff6a33;
    color: #fff;
    border-color: #ff6a33;

}

@media (max-width: 1024px) {
    .p-grid {
        grid-template-columns: repeat(2, 1fr);
     }
} 